html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}
nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,9,121,1) 67%, rgba(0,212,255,1) 100%);
    height: 70px;
    width: 100%;
    position: fixed;
    border-color: blue;
    border-style: solid;
    top: 0px;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
nav ul li {
    width: 70px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,9,121,1) 67%, rgba(0,212,255,1) 100%);
    border-left: blue solid;
}
nav ul li:nth-last-of-type(4) { 
    flex-grow: 1;
    background: none;
    border: none;
}
nav ul li a {
    color: white; 
    text-decoration: none;
    margin: auto;
    font-size: 1em;
}


#welcome-section {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    background-image: linear-gradient(to bottom, rgba(0, 30, 255, 0.742), rgba(144, 144, 180, 0.5)), url("https://pbs.twimg.com/profile_images/484483116237479936/qFs--Mw5.jpeg");
    background-repeat: no-repeat;
}
#welcome-section div {
    width: 270px;
    margin: 0px;
    transform: rotate(-0.02turn) translate(390px, 800px) matrix(0.99,-0.16,0.26,0.97,-10,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2 {
    margin: 0px;
    font-size: 1.4em;
    justify-content: center;
    color: white;
}
h1 span {
    color: blue;
    font-size: 1.5em;
}
h2 span {
    color: blue;
    font-size: 1.41em;
}
#projects {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(8, 68, 181);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#projects div {
    width: 25%;
    height: 25%;
    margin: 0;
    background-color: rgb(8, 68, 181);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects div a {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}
footer {
    width: 100%;
    height: 5%;
    margin: 0;
    background-color: rgb(1, 14, 38);
    color: white;
}
@media (max-width: 375px) {
    #welcome-section {
        width: 100%;
        height: 600px;
    }
}
@media (max-width: 765px) {
    #welcome-section div {
        transform: translate(1px, 5px);
        background-size: 50%;
    }
    h1 span {
        color: yellowgreen;
        font-size: 1.5em;
    }
    h2 span {
        color: yellowgreen;
        font-size: 1.41em;
    }
    #projects div img {
        height: 120px;
        width: 240px;
    }
}
@media (max-width: 1121px) {
    #projects {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: rgb(8, 68, 181);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media (max-height: 850px) {
    #welcome-section div {
        transform: translate(1px, 5px);
        background-size: 50%;
    }
    h1 span {
        color: yellowgreen;
        font-size: 1.5em;
    }
    h2 span {
        color: yellowgreen;
        font-size: 1.41em;
    }
    #projects div img {
        height: 120px;
        width: 240px;
    }
}
